.welcome-section {
    background-color: #f5f5f5;
}
.javascriptMenu {
    text-decoration: none;
    font-size: 16px;
    color: blue;
    margin: 1px;
}
.javascriptMenu:hover{
    opacity: 50%;
}
.large-template {
    background-image: url('images/platters.jpeg');
}
.home-images {
    height: 350px;
}
.quantity {
    color: red;
}
.maps {
    color: red;
}
.social-media {
    color: blue;
}
.price {
    color: green;
}
.phone-numbers{
    color: green;
}
.menu-table {
    text-align: center;
    margin-left: -3rem;
}
.menu-table .menu-list {
    display: inline-block;
}
.body-section {
    background-color: beige;
    padding: 1rem;
    border-radius: 15px;
    margin-top: -1rem;
    margin-bottom: -1rem;
}
@media (max-width: 1000px) {
    .gallery-images {
        height: 200px;
    }
    .javascriptMenu{
        font-size: 14px;
    }
}
@media (max-width: 490px) {
    .gallery-images {
        max-height: 100px;
    } 
}