#header {
    text-align: center;
}
#next-area, #previous-area {
    margin: auto;
}
#next-button, #previous-button{
    color: white;
    background: red;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    font-size: 2rem;
}
#next-button:hover, #previous-button:hover {
    background: green;
    cursor: pointer;
}
.gallery-content{
    display: flex;
    flex-direction: row;
}
.gallery-images {
    height: 500px;
}
@media (max-width: 1000px) {
    .gallery-images {
        height: 150px;
    }
}