#header {
    text-align: center;
}
#next-area, #previous-area {
    margin: auto;
}
#next-button, #previous-button{
    color: white;
    background: red;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    font-size: 2rem;
}
#next-button:hover, #previous-button:hover {
    background: green;
    cursor: pointer;
}
.gallery-content{
    display: flex;
    flex-direction: row;
}
.gallery-images {
    height: 450px;
}
.javascriptMenu {
    text-decoration: none;
    font-size: 20px;
    color: blue;
    margin: 1px;
}
.javascriptMenu:hover{
    color: black;
}
.large-template {
    background-image: url('images/platters.jpeg');
}
.descriptionBody {
    text-align: center;
    line-height: 2;
    font-size: 20px;
}
.red-arrows {
    color: red;
}
.quantity {
    color: red;
}
.maps {
    color: red;
}
.social-media {
    color: blue;
}
.price {
    color: green;
}
.phone-numbers{
    color: green;
}
.menu-table {
    text-align: center;
}
.menu-table .menu-list {
    display: inline-block;
}
@media (max-width: 1000px) {
    .gallery-images {
        height: 200px;
    }
    #next-button, #previous-button{
        color: white;
        background: red;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        font-size: 1.5rem;
    }
    .descriptionBody {
        line-height: 1.5;
        font-size: 16px;
    }
    .javascriptMenu{
        font-size: 16px;
    }
}