main {
    background-color: rgb(2, 94, 64);
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.pageTitle {
    padding-top: 2rem;
    color: white;
    font-size: 4rem;
}
.store-information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div-sections {
    width: 15%;
}
.store-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h2 {
    text-align: center;
}
.location {
    margin-right: 1rem;
    color: white;
    font-size: 1rem;
}
.phone {
    color: white;
}
.store-hours {
    text-align: center;
    color: white;
    font-size: 17px;
}
.fa-phone {
    transform: rotate(100deg);
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa {
    padding: 1rem .5rem 0 .5rem; 
    font-size: 20px; 
    width: 2rem;
    height: 2rem;
    text-align: center; 
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
.store-hours {
    line-height: 2;
}
.left-map {
    margin-right: 5rem;
}
.cancun-link {
    font-size: 16px;
    color: white;
}
.cancun-link:hover {
    color: gray;
}
.store-hours-div {
    align-self: center;
}
.store-hours-div>h2 {
    color: white;
    font-size: 2rem;
}
.facebook-text {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}
.social-media-text {
    color: white;
}
@media (max-width: 1000px) {
    .pageTitle {
        padding-top: 2rem;
        color: white;
        font-size: 2rem;
    }
    .store-location {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .store-information {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } 
    .location {
        text-align: center;
    }
    .fa {
       margin: auto;
     }
     .phone {
         text-align: center;
     }
     iframe {
         display: block;
         margin: auto;
     }
}
@media (max-width: 490px) {
    .left-map {
        display: block;
        margin: auto;
    }
    .fa {
        padding: .5rem; 
        font-size: 15px; 
        width: 1rem;
        height: 1rem;
        text-align: center; 
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
      }
}