#next-area, #previous-area {
    margin: auto;
}
#next-button, #previous-button{
    color: white;
    background: red;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    font-size: 2rem;
}
#next-button:hover, #previous-button:hover {
    background: green;
    cursor: pointer;
}
.gallery-content{
    display: flex;
    flex-direction: row;
}
.gallery-images {
    height: 500px;
}
.quantity {
    text-align: center;
}
.foodType {
    text-align: center;
}
.price {
    text-align: center;
}
.menu-item {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-item:hover {
    color: gray;
}
.menuItems {
    text-align: center;
}
.disclaimer {
    text-align: center;
    font-weight: bold;
    color: red;
}
.description {
    margin-bottom: 2rem;
}