#next-area, #previous-area {
    margin: auto;
}
#next-button, #previous-button{
    color: white;
    background: red;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    font-size: 2rem;
}
#next-button:hover, #previous-button:hover {
    background: green;
    cursor: pointer;
}
.gallery-content{
    display: flex;
    flex-direction: row;
}
.gallery-images {
    height: 450px;
}
.quantity {
    text-align: center;
}
.foodType {
    text-align: center;
}
.price {
    text-align: center;
}
a.menu-item {
    position: relative;
}
a.menu-item:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
a.menu-item:hover:before {
    visibility: visible;
    width: 100%;
}
.menu-item {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menuItems {
    text-align: center;
}
.disclaimer {
    text-align: center;
    font-weight: bold;
    color: red;
    line-height: 2;
}
.description {
    margin-bottom: 2rem;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.flour-tortilla {
    color: green;
}
.fajita-side {
    color: green;
}
.menu-nav-bar{
    overflow: hidden;
}
.menu-nav-bar a{
   line-height: 2;
    text-align: center;
    font-size: 20px;
}
.drop-down {
    overflow: hidden;
    text-align: center;
    width: fit-content;
    margin: auto;
}
.drinks {
    display: none;
    z-index: 1;
}
.drinks a {
    float: none;
    display: block;
    text-align: left;
    padding: 12px 16px;
    font-size: 16px;
}
.drop-down:hover .drinks {
    display: block;
}
.menu-header{
    text-align: center;
    font-size: 25px;
    margin-top: 2rem;
    line-height: 0;
    font-family: 'Times New Roman', Times, serif;
}
.under-menu-header {
    width: 20%;
}
.menu-table {
    text-align: center;
}
.menu-table .menu-list {
    display: inline-block;
}
.body-section {
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 15px;
}
@media (max-width: 1500px) {
    .gallery-images {
        height: 300px;
    }
}
@media (max-width: 1000px) {
    .gallery-images {
        height: 150px;
    }
    #next-button, #previous-button{
        color: white;
        background: red;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        font-size: 1.5rem;
    }
    .description{
        font-size: 16px;
    }
    .drop-down {
        margin: auto;
    }
    .menu-nav-bar a {
        line-height: 1.5;
    }
    .descriptionBody {
        margin: 0 2rem;
    }
}