nav>a{
    text-decoration: none;
    color: black;
}
nav>a:hover {
    color: red;
}
.logo {
    margin: -90px -130px;
    height: 250px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    font-size: 25px;
    margin-right: 2rem;
}
footer {
    background-color: black;
    text-align: center;
    padding: .5rem 1rem;
    color: white;
}
footer>a{
    text-decoration: none;
    color: white;
}
footer>a:hover {
    color: gray;
}
.underHeader {
    width: 25%;
}
.pageTitle {
    text-align: center;
}
section{
    margin-bottom: 1rem;
}
.hamburger {
    display: none;
}
header nav {
    position: static;
}
@media (max-width: 1000px) {
    .hamburger {
        display: block;
        width: 40px;
        padding: .5rem;
    }
    .hamburger hr {
        margin: .45rem 0;
        border: 2px solid black;
    }
    .top-nav {
        display: flex;
        flex-direction: column; 
    }
    .hr1, .hr2, .hr3 {
        transition: 1s;
    }
    .change .hr1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
    .change .hr2 {
        opacity: 0;
    } 
    .change .hr3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    /*
    .hamburger:hover, hr:hover {
        color: red;
        border: 2px solid red;
    }
    */
    header nav {
        background-color: green;
        position: fixed; 
        width: 100%;
        top: 4.75rem;
        right: 100%;
    
        transition-property: right;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }
    header nav a {
        text-align: center;
        color: white;
    }
    header nav.show {
        right: 0;
    }
}