nav>a{
    text-decoration: none;
    color: black;
}
.logo {
    margin: -90px -130px;
    height: 250px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    font-size: 25px;
    margin-right: 2rem;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}
.footer>a{
text-decoration: none;

color: white;
}
.underHeader {
    width: 25%;
}
.pageTitle {
    text-align: center;
}