nav>a{
    text-decoration: none;
    color: black;
}
nav>a:hover {
    color: red;
}
a.top-nav-link {
    position: relative;
}
a.top-nav-link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
a.top-nav-link:hover:before {
    visibility: visible;
    width: 100%;
}
.logo {
    margin: -90px -130px;
    height: 250px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    font-size: 25px;
    margin-right: 2rem;
}
.bottom-footer {
    background-color: black;
    text-align: center;
    padding: .5rem 1rem;
    color: white;
    border-radius: 15px;
}
.bottom-footer>a{
    text-decoration: none;
    color: white;
}
.bottom-footer>a:hover {
    color: gray;
}
a.bottom-nav-link {
    position: relative;
}
a.bottom-nav-link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
a.bottom-nav-link:hover:before {
    visibility: visible;
    width: 75%;
}
.underHeader {
    width: 25%;
}
.pageTitle {
    text-align: center;
}
section{
    margin-bottom: 1rem;
}
.hamburger {
    display: none;
}
header nav {
    position: static;
}
.top-nav {
    margin-top: 1rem;
}
@media (max-width: 1000px) {
    .hamburger {
        display: block;
        width: 40px;
        padding: .5rem;
    }
    .hamburger:hover {
        cursor: pointer;
    }
    .hamburger hr {
        margin: .45rem 0;
        border: 2px solid black;
    }
    .top-nav {
        display: flex;
        flex-direction: column; 
        margin-top: 0;
    }
    .hr1, .hr2, .hr3 {
        transition: 1s;
    }
    .change .hr1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
    .change .hr2 {
        opacity: 0;
    } 
    .change .hr3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    header nav {
        background-color: green;
        position: fixed; 
        width: 100%;
        top: 4.75rem;
        right: 100%;
        transition-property: right;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }
    header nav a {
        text-align: center;
        color: white;
    }
    header nav.show {
        right: 0;
    }
    a.top-nav-link {
       position: relative;
    }
    a.top-nav-link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: red;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }
    a.top-nav-link:hover:before {
        visibility: visible;
        transform: scaleX(.125);
    }
    .bottom-nav-link {
        font-size: 20px;
    }
}
@media (max-width: 490px) {
    .bottom-nav-link {
        font-size: 12px;
    }
    span {
        font-size: 12px;
    }
}